<dialog id="modal-konfirmasi" class="modal">
  <div class="modal-box bg-white text-slate-800">
    <h3 class="text-lg font-bold text-slate-800" id="konfirmasi-title">Konfirmasi</h3>
    <p class="py-4 text-slate-600" id="konfirmasi-desc">Apakah Anda yakin?</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn border-gray-300 bg-white text-gray-700 hover:bg-gray-50" value="tidak">Batal</button>
        <button class="btn border-transparent bg-rose-500 text-white hover:bg-rose-600" value="ya">Ya, Hapus</button>
      </form>
    </div>
  </div>
</dialog>